
        body {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: 100%;
            background-color:rgb(18, 18, 18);
            margin-left: auto;
            margin-right: auto;
            color:white;
            
        }
        h1{
            text-align: center;
        }
        a:link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        a:visited {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: rgb(152, 49, 49);
            background-color: transparent;
        }
        a:active {
            color: rgb(255, 255, 255);
            background-color: transparent;
        }
       
        #Logo{
            font-family: 'Fredoka One', cursive;
        }
        #Intro{
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            border-radius: 10px;
            border: 1px solid rgb(171, 171, 171);
            padding: 10px;
            text-align: justify;
            background-color: rgb(18, 18, 18);
        }
        #MJHome{
            
            margin-left: 0%;
            margin-right: auto;
            width: 30%;
            border-radius: 10px;
            border: 1px solid rgb(171, 171, 171);
            padding: 10px;
            text-align: justify;
            background-color: rgb(18, 18, 18);

        }
        #LeBronIntro{
            margin-left: auto;
            margin-right: 0%;        ;
            width: 30%;
            border-radius: 10px;
            border: 1px solid rgb(171, 171, 171);
            padding: 10px;
            text-align: justify;
            background-color: rgb(18, 18, 18);
        }
        #KareemIntro{
            margin-left: 0%;
            margin-right: auto;
            width: 30%;
            border-radius: 10px;
            border: 1px solid rgb(171, 171, 171);
            padding: 10px;
            text-align: justify;
            background-color: rgb(18, 18, 18);
        }
        #Author{
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .PlayerHome{
            width: 100%;
            display: flex;
            align-items: center;
        }
        .imgLeft{
            display: block;
            margin-right: 2%;
            margin-left: auto;
            width: 20%;
        }
        .imgRight{
            display: block;
            margin-right: auto;
            margin-left: 2%;
            width: 20%;
        }
        .PlayerPage{
            display: block;
            margin-right: auto;
            width: 50%;
        }
        .AccoTeams{
            margin-left: auto;
            margin-right: auto;
            width: 45%;
            border-radius: 10px;
            border: 1px solid rgb(171, 171, 171);
            padding: 10px;
            text-align: justify;
            background-color: rgb(18, 18, 18);
        }
        .SocialsLogo{
            display: block;
            margin-right: auto;
            width: 30%; 
        }
        .Socials{
            width: 50%;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
        .vid{
            width: 60%;
            height: 500px;
            margin-left: 20%;
        }
      
        